<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <style>
  .social-links a {
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
    transition: 0.3s;
  }

  .social-links a.linkedin {
    color: #0077b5;
  }

  .social-links a.github {
    color: #333;
  }

  .social-links a:hover {
    color: #ff5722;
  }
   .social-links i {
    margin-right: 6px;
  }
</style>
  </head>
  <body>

  <div class="container my-4 mt-4">
<h6>    About Palak Patidar: Your Python Developer
</h6>
<h5>Meet the Developer</h5>

<p>Hi, I’m Palak Patidar, the mind behind HealTech. I’m passionate about building meaningful solutions where technology can improve lives. This project reflects my journey of combining coding, data, and healthcare into one impactful system.
</p>
<h5>My Expertise
</h5>
<p>With a strong foundation in Python, Flask, Machine Learning, HTML, CSS, Bootstrap, SQL, and web development, I enjoy creating projects that solve real-world problems. I specialize in developing intelligent systems that connect data with decision-making.
</p>
<h5>A Commitment to Excellence
</h5>
<p>I believe in writing clean, efficient, and scalable code. My goal is not just to complete a project, but to create something reliable, user-friendly, and impactful that makes a difference for people.
</p>
<h5>Passion for Health Tech
</h5>
<p>Technology has the power to transform healthcare, and I’m deeply passionate about being part of that change. Through this project, I aim to bring awareness, accessibility, and smarter health solutions to everyone.
</p>
<h5>Join Me on this Journey
</h5>
<p>This is just the beginning. I welcome you to join me on this journey of learning, innovation, and building a healthier tomorrow through the blend of health and technology.
</p>
    <p class="social-links">
  <a href="https://www.linkedin.com/in/palak-patidar-454450260" target="_blank" class="linkedin">
      <i class="fab fa-linkedin"></i>LinkedIn</a> |
  <a href="https://github.com/ppatidar-07" target="_blank" class="github">
      <i class="fab fa-github"></i>GitHub</a>
</p>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>